body{
	background-color: #F2CB67;
	font-family: Lato;
}
.yolo{
	font-size: 10px;
}
p{
	font-size: 20px;
}
h1{
	color: #A82221;
	font-size: 125px;
}
h3{
	font-size: 40px;
	color: #DB5E31;
}
.cool{
	visibility: hidden;
	height: 100px;
	width: 200px;
}
.imagen{
	height: 200px;
	width: 200px;
}
#solo{
	width: 125px;
	height: 125px;
}
.orbit{
	width: 1000px;
	height: 700px; 
}
h2{
	font-size: 85px;
	color: #EDA23E;
	position: relative;
	margin-left: 95px; 
}
